<h1>Kiroku App</h1>
<% if @current_action.present? %>
  <p>行動中: <%= @current_action.started_at.strftime("%H:%M") %></p>
  <%= button_to "行動終了", action_path(@current_action), method: :patch %>
<% else %>
  <%= button_to "行動開始", actions_path(session_id: @session.id), method: :post, data: { turbo: false } %>
<% end %>

<%= button_to "セッション終了", session_path(@session), method: :patch %>
